{% extends 'base.html' %}

{% block title %}About
{% endblock title %}

{% block body %}
<!--https://source.unsplash.com/1200x400/?about,Quiz-->
<!--<div class="container-fluid">-->
<div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/static/img/about_logo.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5> Gear up the Learnings! </h5>
       </div>
    </div>
</div>
<div class="jumbotron">
  <h1 class="display-4">About Quiz!</h1>
  <p class="lead"> Quiztwiz will help the students to Improve their skills in different Domains.</p>
  <hr class="my-4">
  <p>
    Critical thinking and Problem solving are the key issues which Students face now a days,however this website will help them to improve their skills in different domains.<br>
  </p>
  <!--<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>-->
</div>
<!--</div>-->
<br>
<div class="container mb-3">
    <div class="card">
        <div class="card-header">
        Award For Student!
        </div>
        <div class="card-body">
        <blockquote class="blockquote mb-0">
        <p>
            "Minimum Score for qualifying the quiz is 80% and the name will be published on website".<br>
        </p>
        <!--<footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>-->
        </blockquote>
        </div>
    </div>
</div>
{% endblock body %}