{% extends 'base.html' %}
{% block title %}Aptitude
{% endblock title %}

{% block body %}
<div class="container-fluid alert alert-warning">
<div class="row">
<div class="col-md-6 border-right border-dark">
<!--1 jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>Problems on Trains</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/problemTrains" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>
<!--2 jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>Time and Distance</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/timeDistance" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>
<!--3 jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>Simple Interest</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/simpleInterest" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>
<!--4 Jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>Compound Interest</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/compoundInterest" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>
<!--5 jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>Profit and Loss</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/profitLoss" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>
<!--6 jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>Partnership</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/partnership" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>
<!--7 Jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>Problems on Ages</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/problemAge" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>
<!--8 jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>Volume and Surface Area</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/volumeSurfaceArea" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>

</div>


<div class="col-md-6">
<!--9 jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>Permutation and Combination</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/permutationCombination" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>
<!--10 jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>Problems on H.C.F and L.C.M</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/hCFAndLCM" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>
<!--11 jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>Decimal Fraction</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/decimalFraction" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>
<!--12 Jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>Square Root and Cube Root</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/squareCubeRoot" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>
<!--13 jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>Simplification</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/simplification" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>
<!--14 jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>Ratio and Proportion</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/ratioProportion" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>
<!--15 jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>Pipes and Cistern</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/pipesCistern" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>
<!--16 jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>Races and Games</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/racesGame" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>

</div>
</div>
</div>
{% endblock body %}
