{% extends 'base.html' %}
{% block title %}GK
{% endblock title %}

{% block body %}
<div class="container-fluid alert alert-warning">
<div class="row">
<div class="col-md-6 border-right border-dark">
<!--1 jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>Basic General Knowledge</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
      <a class="btn btn-primary btn-lg" href="/basicGK" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>
<!--2 jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>Indian Histroy</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/indianHistory" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>
<!--3 jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>General Science</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/generalScience" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>
<!--4 Jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>Famous Personalities</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/famousPersonalities" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>
<!--5 jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>Indian Politics</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/indianPolitics" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>
<!--6 jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>World Geography</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/worldGeography" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>
<!--7 Jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>Indian Economy</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/indianEconomy" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>
<!--8 jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>Inventions</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/inventions" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>

</div>


<div class="col-md-6">
<!--9 jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>Technology</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/technology" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>
<!--10 jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>Honours and Awards</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/honoursAward" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>
<!--11 jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>Books and Authors</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/bookAuthor" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>
<!--12 Jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>Indian Culture</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/indianCulture" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>
<!--13 jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>Sports</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/sports" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>
<!--14 jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>World Organisations</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/worldOrganisations" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>
<!--15 jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>Indian Geography</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/indianGeography" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>
<!--16 jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>Famous Places in India</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/famousPlaceIndia" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>

</div>
</div>
</div>
{% endblock body %}
