{% extends 'base.html' %}

{% block title %}Home
{% endblock title %}

{% block body %}
<div class="container my-3">
<h2 class="text-center my-4">Select your Subject</h2>
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
          <!--https://source.unsplash.com/1200x900/?home,calligraphy-->
            <img src="/static/img/python.png" class="d-block w-100" alt="..." height="250px">
            <div class="card-body">
              <p class="card-text">You can test your Python skills.<br>The test contains 50 questions and there is no time limit.<br>You will get 1 point for each correct answer.<br> Maximum score is 50 points.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/python">Start Quiz</a></button>
                  <!--<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
                </div>
                <small class="text-muted">30 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="/static/img/java.png" class="d-block w-100" alt="..." height="250px">
            <div class="card-body">
              <p class="card-text">You can test your Java skills.<br>The test contains 50 questions and there is no time limit.<br>You will get 1 point for each correct answer.<br> Maximum score is 50 points.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/java">Start Quiz</a></button>
                  <!--<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
                </div>
                <small class="text-muted">30 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="/static/img/c++.png" class="d-block w-100" alt="..." height="250px">
            <div class="card-body">
              <p class="card-text">You can test your C++ skills.<br>The test contains 50 questions and there is no time limit.<br>You will get 1 point for each correct answer.<br> Maximum score is 50 points.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/oopc">Start Quiz</a></button>
                  <!--<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
                </div>
                <small class="text-muted">30 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="/static/img/c.jpg" class="d-block w-100" alt="..." height="250px">
            <div class="card-body">
              <p class="card-text">You can test your C language skills.<br>The test contains 50 questions and there is no time limit.<br>You will get 1 point for each correct answer.<br> Maximum score is 50 points.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/c">Start Quiz</a></button>
                  <!--<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
                </div>
                <small class="text-muted">30 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="/static/img/DBMS.jpg" class="d-block w-100" alt="..." height="250px">
            <div class="card-body">
              <p class="card-text">You can test your DBMS skills.<br>The test contains 50 questions and there is no time limit.<br>You will get 1 point for each correct answer.<br> Maximum score is 50 points.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/dbms">Start Quiz</a></button>
                  <!--<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>!-->
                </div>
                <small class="text-muted">30 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="/static/img/html.jpg" class="d-block w-100" alt="..." height="250px">
            <div class="card-body">
              <p class="card-text">You can test your HTML skills.<br>The test contains 50 questions and there is no time limit.<br>You will get 1 point for each correct answer.<br> Maximum score is 50 points.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/html">Start Quiz</a></button>
                  <!--<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
                </div>
                <small class="text-muted">30 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="/static/img/network.jpg" class="d-block w-100" alt="..." height="250px">
            <div class="card-body">
              <p class="card-text">You can test your Computer Network skills.<br>The test contains 50 questions and there is no time limit.<br>You will get 1 point for each correct answer.<br> Maximum score is 50 points.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/network">Start Quiz</a></button>
                  <!--<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
                </div>
                <small class="text-muted">30 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="/static/img/bootstrap.png" class="d-block w-100" alt="..." height="250px">
            <div class="card-body">
              <p class="card-text">You can test your Bootstrap skills.<br>The test contains 50 questions and there is no time limit.<br>You will get 1 point for each correct answer.<br> Maximum score is 50 points.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/bootstrap">Start Quiz</a></button>
                  <!--<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
                </div>
                <small class="text-muted">30 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="/static/img/datastructure.jpg" class="d-block w-100" alt="..." height="250px">
            <div class="card-body">
              <p class="card-text">You can test your DataStructure skills.<br>The test contains 50 questions and there is no time limit.<br>You will get 1 point for each correct answer.<br> Maximum score is 50 points.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/datastructure">Start Quiz</a></button>
                  <!--<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
                </div>
                <small class="text-muted">30 mins</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock body %}
