{% extends 'base.html' %}
{% block title %}Logical
{% endblock title %}

{% block body %}
<div class="container-fluid alert alert-warning">
<div class="row">
<div class="col-md-6 border-right border-dark">
<!--1 jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>Number Series</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/numberSeries" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>
<!--2 jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>Letter and Symbol Series</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/letterSymbol" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>
<!--3 jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>Verbal Classification</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/verbalClassification" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>
<!--4 Jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>Artificial Language</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/artificial" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>
<!--5 jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>Verbal Reasoning</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/verbalReasoning" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>
<!--6 jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>Logical Problems</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/logicalProblem" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>
<!--7 Jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>Logical Games</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/logicalGame" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>
<!--8 jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>Analyzing Arguments</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/analyzingArgument" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>

</div>


<div class="col-md-6">
<!--9 jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>Statement and Assumption</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/statementAssumption" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>
<!--10 jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>Course of Action</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/courceAction" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>
<!--11 jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>Statement and Conclusion</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/statementConClusion" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>
<!--12 Jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>Theme Detection</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/themeDetection" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>
<!--13 jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>Cause and Effect</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/causeEffect" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>
<!--14 jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>Statement and Argument</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/statementArgument" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>
<!--15 jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>Logical Deduction</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/logicalDeduction" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>
<!--16 jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>Essential Part</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/essentialPart" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>

</div>
</div>
</div>
{% endblock body %}
