{% extends 'index.html' %}
{% load crispy_forms_tags %}

{% block body %}
<div class="content-section container alert alert-warning">
    <form method="POST" action="/register">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Register Here</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Sign Up</button>
        </div>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already have An Account? <a href="/login" class="ml-2">Sign In</a>
            </small>
        </div>
    </form>
</div>
{% endblock body %}