{% extends 'base.html' %}
{% block title %}Current-Affairs
{% endblock title %}

{% block body %}
<div class="container-fluid alert alert-warning">
<div class="row">
<div class="col-md-6 border-right border-dark">
<!--1 jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>Science</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/BasicScience" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>
<!--2 jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>Physics</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/physics" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>
<!--3 jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>Chemistry</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/chemistry" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>
<!--4 Jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>Biology</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/biology" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>
<!--5 jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>Mathematics</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/mathematics" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>
<!--6 jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>English</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/english" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>
<!--7 Jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>Thermodynamics</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/thermodynamics" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>
<!--8 jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>Electromagnetic Waves</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/electromagneticWaves" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>

</div>


<div class="col-md-6">
<!--9 jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>Kinematics</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/kinematics" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>
<!--10 jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>Electrostatics</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/electrostatics" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>
<!--11 jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>Organic Chemistry</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/organicChemistry" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>
<!--12 Jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>Chemical Thermodynamics</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/chemicalThermodynamics" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>
<!--13 jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>Chemical Kinetics</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/chemicalKinetics" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>
<!--14 jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>Plant Physiology</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/plantPhysiology" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>
<!--15 jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>Human Physiology</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/humanPhysiology" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>
<!--16 jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>Biotechnology and its Applications</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/biotechnologyApplication" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>

</div>
</div>
</div>
{% endblock body %}
