{% extends 'base.html' %}
{% block title %}Varbal
{% endblock title %}

{% block body %}
<div class="container-fluid alert alert-warning">
<div class="row">
<div class="col-md-6 border-right border-dark">
<!--1 jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>Spotting Errors</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/spottingError" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>
<!--2 jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>Synonyms</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/synonyms" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>
<!--3 jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>Antonyms</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/antonyms" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>
<!--4 Jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>Selecting Words</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/selectingWord" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>
<!--5 jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>Spellings</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/spelling" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>
<!--6 jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>Sentence Formation</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/sentenceFormation" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>
<!--7 Jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>Ordering of Words</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/orderingWord" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>
<!--8 jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>Sentence Correction</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/sentenceCorrection" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>

</div>


<div class="col-md-6">
<!--9 jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>Sentence Improvement</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/sentenceImprovement" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>
<!--10 jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>Completing Statements</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/completingStatement" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>
<!--11 jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>Ordering of Sentences</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/orderingSentences" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>
<!--12 Jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>Paragraph Formation</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/paragraphFormation" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>
<!--13 jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>Closet Test</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/clostTest" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>
<!--14 jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>Comprehension</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/comprehension" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>
<!--15 jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>One Word Substitutes</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/oneWordSubstitutes" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>
<!--16 jumbotron-->
<div class="container">
  <div class="jumbotron mt-3 alert alert-info">
    <div class="row">
    <div class="col-md-8">
    <h4>Idioms and Phrases</h4>
    </div>
    <!--<div class="col-md-4">
    <p class="lead">This Subject haveing Basic Quiz about Gk. </p>
    </div>-->
    <div class="col-md-4" style="align:right;">
    <a class="btn btn-lg btn-primary" href="/idiomsPhrases" role="button">Start Quiz »</a>
    </div>
    </div>
  </div>
</div>

</div>
</div>
</div>
{% endblock body %}
